<mat-toolbar color="primary">
  Drone Control Panel</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutGap="grid">

    <mat-card fxFlex="1 0 250px" *ngFor="let drone of drones" class="mat-elevation-z4">
      <mat-card-header>
        <mat-card-title>Drone #{{drone.id}}</mat-card-title>
      </mat-card-header>
      <span [ngClass]="getStateClass(drone.state)">
        State: {{states[drone.state - 1]}}
      </span>
      <mat-card-content>
        <div [hidden]="drone.state == 3">Time left in state: {{drone.internalCounter}}</div>
        <div [hidden]="drone.state != 1">Flying at Height: {{drone.assignedHeight}}</div>
      </mat-card-content>
    </mat-card>

  </div>
</div>
